{% extends 'base.html' %} {% block head %}
<title>Prediksi Covid | Prediksi</title>
{% endblock %} {% block body %}

<div id="loading-overlay">
  <div class="loader"></div>
</div>

<div class="wrapper">
  <div id="page">
    <header class="header clearfix">
      <div id="header" class="container-fluid header">
        <div id="site-header" class="row">
          <div class="logo-h2">
            <a href="home2.html">
              <img src="{{ url_for('static', filename='assets/image/logokemenkes2.jpg') }}" alt="image" />
            </a>
          </div>
          <div class="top-header">
            <div class="top-bar">
              <div class="top-infor">
                <ul>
                  <li class="top-location">
                    <i class="icon-maket-light"></i>
                    <span class="address">Jl. Letjen Suprapto No.103, Karanganyar, Kec. Subang, Kabupaten Subang, Jawa Barat 41211</span>
                  </li>
                </ul>
              </div>
              <div class="top-social">
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="0" data-smobile="5"></div>
                <ul class="widgets-nav-social">
                  <li>
                    <a href="mailto:kontak@kemkes.go.id"><i class="icon-mail-light"></i></a>
                  </li>
                  <li>
                    <a href="mailto:kontak@kemkes.go.id"><i class="fab fa-whatsapp"></i>(119)</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="header-content">
              <div class="nav-wrap fl-st-2">
                <nav id="mainnav" class="mainnav fl-st-2">
                  <ul class="menu">
                    <li>
                      <a href="home.html" title="">Home</a>
                    </li>
                    <li>
                      <a href="index.html" title="">prediksi</a>
                    </li>
                  </ul>
                  <!-- /.menu -->
                </nav>
                <!-- /#mainnav -->
              </div>
            </div>
            <!--header-content-->
          </div>
          <!-- /top-header -->
        </div>
        <!--/site-header-->
      </div>
    </header>

    <div id="main-content" class="site-main clearfix">
      <div id="content-wrap">
        <section class="container">
          <div class="row my-5 justify-content-center">
            <h1 style="font-size: 34px">Prediksi Covid-19</h1>
          </div>
          <hr class="mb-5" />
          <form class="contact-form validate-form" action="/" method="POST">
            <div class="col-lg-12 col-md-12 col-sm-12">
              <div class="box-form-contact wow fadeInDown">
                <div class="themesflat-spacer clearfix" data-desktop="0" data-mobile="50" data-smobile="50"></div>
                <form
                  class="content-form wow fadeInUp"
                  id="contactform"
                  action="./contact/contact-process.php"
                  method="post"
                  accept-charset="utf-8"
                >
                  <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Umur</span>
                      <input class="input100" type="text" placeholder="Masukan umur anda" name="umur" id="umur" required>
                      <input
                        tabindex="1"
                        id="umur"
                        umur="umur"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Masukan Umur"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Sakit Kepala ?</span>
                      <input
                        tabindex="2"
                        id="sakit_kepala"
                        name="sakit_kepala"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Anosmia ?</span>
                      <input
                        tabindex="2"
                        id="anosmia"
                        name="anosmia"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Demam ?</span>
                      <input
                        tabindex="2"
                        id="demam"
                        name="demam"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Batuk ?</span>
                      <input
                        tabindex="2"
                        id="batuk"
                        name="batuk"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Kehilangan Nafsu Makan ?</span>
                      <input
                        tabindex="2"
                        id="kehilangan_nafsu_makan"
                        name="kehilangan_nafsu_makan"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Suara Serak ?</span>
                      <input
                        tabindex="2"
                        id="suara_serak"
                        name="suara_serak"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Sakit Tenggorokan ?</span>
                      <input
                        tabindex="2"
                        id="sakit_tenggorokan"
                        name="sakit_tenggorokan"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Nyeri Dada ?</span>
                      <input
                        tabindex="2"
                        id="nyeri_dada"
                        name="nyeri_dada"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12">
                      <span>Apakah Anda mengalami Lemas ?</span>
                      <input
                        tabindex="2"
                        id="lemas"
                        name="lemas"
                        value=""
                        class="input-contact"
                        type="text"
                        placeholder="Ya / Tidak"
                        required=""
                      />
                    </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Apakah Anda mengalami Kebingungan ?</span>
                        <input
                          tabindex="2"
                          id="kebingungan"
                          name="kebingungan"
                          value=""
                          class="input-contact"
                          type="text"
                          placeholder="Ya / Tidak"
                          required=""
                        />
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Apakah Anda mengalami Nyeri Otot ?</span>
                        <input
                          tabindex="2"
                          id="nyeri_otot"
                          name="nyeri_otot"
                          value=""
                          class="input-contact"
                          type="text"
                          placeholder="Ya / Tidak"
                          required=""
                        />
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Apakah Anda mengalami Sesak Nafas ?</span>
                        <input
                          tabindex="2"
                          id="sesak_nafas"
                          name="sesak_nafas"
                          value=""
                          class="input-contact"
                          type="text"
                          placeholder="Ya / Tidak"
                          required=""
                        />
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Apakah Anda mengalami Diare ?</span>
                        <input
                          tabindex="2"
                          id="diare"
                          name="diare"
                          value=""
                          class="input-contact"
                          type="text"
                          placeholder="Ya / Tidak"
                          required=""
                        />
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Apakah Anda mengalami Sakit Perut ?</span>
                        <input
                          tabindex="2"
                          id="sakit_perut"
                          name="sakit_perut"
                          value=""
                          class="input-contact"
                          type="text"
                          placeholder="Ya / Tidak"
                          required=""
                        />
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Apakah Anda Tidak Mengalami Gejala ?</span>
                        <input
                          tabindex="2"
                          id="tanpa_gejala"
                          name="tanpa_gejala"
                          value=""
                          class="input-contact"
                          type="text"
                          placeholder="Ya / Tidak"
                          required=""
                        />
                      </div>
                      <div class="col-lg-4 col-md-6 col-sm-12">
                        <span>Apakah Anda Tidak Mempunyai Komorbid ?</span>
                        <input
                          tabindex="2"
                          id="komorbid"
                          name="komorbid"
                          value=""
                          class="input-contact"
                          type="text"
                          placeholder="Ya / Tidak"
                          required=""
                        />
                      </div>
                  </div>
                  <div class="row my-5 justify-content-center">
                    <div class="col-lg-4 col-12 text-center">
                      <div class="box-submit">
                        <button
                          name="submit"
                          id="submit"
                          type="submit"
                          class="themesflat-button bg-accent btn-submit"
                          role="button"
                        >
                          <span>Prediksi</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
              <!--/box-form-contact-->
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>

{% endblock %}
